
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.main-header {
    position: absolute;
    left: 0;
    right: 0;
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

nav ul {
    display: flex;
}

nav li {
    color: #fff;
    margin: 0 7px;
    list-style: none;
}

nav li a {
    color: inherit;
}

.showcase {
    position: relative;
    top: 0;
}

.showcase img {
    height: 80vh;
    width: 100%;
    background-position: center;
    background-attachment:fixed;
    object-fit: fill;
    animation-name: newImg;
}

@keyframes newImg {
    
}